body{
    background-color: rgb(255, 255, 255);
    margin-left: 0px;
    margin-right: 0px;
    overflow-x: hidden;
}

.OII{
    position: relative;
    color: #ffffff;
    font-size: 40px;
    left: 100px;
    top: 100px;
    z-index: 12;
}

.gu{
    position: relative;
    top: 15px;
    left: 100px;
    color: white;
    font-size: 50px;
    z-index: 11;
}

.developer, h3{
    position: relative;
    top: -37px;
    left: 50px;
    color: white;
    font-size: 11.5vh;
    z-index: 10;
}

.fundocinza{
    position: absolute;
    background-color: rgb(71, 71, 71);
    width: 100%;
    height: 820px;
    z-index: -1;
}


.MYBIO{
    position: absolute;
    color: white;
    font-size: 38px;
    left: 840px;
    z-index: 8;
}

p{
    position: relative;
    color: white;
    font-size: 25px;
    top: 120px;
    left: 650px;
    z-index: 7;
}

.dagao{
    position: absolute;
    z-index: 15;
    top: 1340px;

}

.contatoo{
    position: absolute;
    color: white;
    font-size: 30px;
    top: 1000px;
    left: 600px;
    z-index: 5;
}

.WATSAP{
    position: absolute;
    top: 0px;
    left: 10px;
    z-index: 4;
}

.instagram{
    position: absolute;
    top: 0px;
    left: 60px; 
    z-index: 3;
}
    
.LINKEDINN{
    position: absolute;
    top: 0px;
    left: 110px; 
    z-index: 2;
  
}

.GITHUB{
    position: absolute;
    top: 0px;
    left: 160px; 
    z-index: 1;
  
}

.barrabranca{
    position: absolute;
    color: white;
    width: 50px;
    height: 50px;
}

.barrabranca{
    position: absolute;
    background-color: white;
    width: 100%;
    height: 2px;
    
}

.aaa{
    position: absolute;
    top: 1000px;
    left: 380px;    
    color: rgb(255, 255, 255);
    width: 0px;
    font-size: 30px;
    font-style: italic;
}

.bbb input{
    background-color: black;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    top: 100px;
}

.ccc{
    position: absolute;
    top: 0px;
    left: 400px;    
    color: rgb(255, 255, 255);
    width: 60px;
    font-size: 30px;
    font-style: italic;
}

.ddd input{
    background-color: black;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 260px;
    height: 40px;
    border-radius: 10px;
    outline: none;
    top: 100px;
}

.eee{
    position: absolute;
    top: 100px;
    left: -250px;    
    color: rgb(255, 255, 255);
    width: 60px;
    font-size: 30px;
    font-style: italic;
}

.fff input{
    background-color: black;
    position: absolute;
    border: 3px solid rgb(255, 255, 255);
    color: white;
    width: 350px;
    height: 100px;
    border-radius: 10px;
    outline: none;
    top: 100px;
}

.brancobaixo{
    position: absolute;
    width: 520px;
    height: 40px;
    top: 240px;
    background-color: white;
}

.brancobaixo{
    width: 1360px;
    left: -541px;
}

.copianao{
    position: absolute;
    left: -300px;
    top: 254px;
    opacity: 0.7;
}

.copianaoo{
    position: absolute;
    left: 70px;
    top: 253px;
}

.astro{
    position: absolute;
    top: -1110px;
    left: -550px;
    z-index: -2;
}

.guoii{
    position: absolute;
    top: -540px;
    left: -410px;
}

.botaocontate button{
    position: relative;
    width: 450px;
    height: 100px;
    background-color: rgb(172, 0, 0);
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: white;
    left: -60px;
    border: 2px solid;
}

.botaocontate button:hover{
    background-color: rgb(133, 8, 8);
    transition: 1s;
}